/* Calculator */
#calculator {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: #1e222d;
  padding: 20px;
  border-radius: 10px;
}

#calculator>h4 {
  margin: 0px 0px 15px 0px;
}

#calculator-inputs {
  display: flex;
  flex-direction: row;
}

.calculator-input>input {
  border: none;
  border-bottom: 1px white solid;
  background-color: transparent;
  color: #ffffff;
  transition: border-bottom-color 0.2s ease;
  outline: none;
}

.calculator-input>input:focus {
  border-bottom-color: #6d85c6;
}

.calculator-input>label,
.calculator-input>input {
  display: block;
  margin-top: 5px;
}

.calculator-input:last-child {
  margin-left: 10px;
}

#calculator-bottom {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

#calculator-bottom>button {
  border: none;
  border-radius: 5px;
  background-color: #546799;
  color: #ffffff;
  padding: 10px;
  transition: background-color 0.2s ease;
}

#calculator-bottom>button:hover {
  cursor: pointer;
  background-color: #6d85c6;
}

#calculator-bottom>p {
  margin: 0px 0px 0px auto;
}